body, html {
    width: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    background: #FFF;
}

/*Налаштування тексту загальний*/

a, p, li, input, h2, h3, button, span, input, textarea, label,
input::placeholder, textarea::placeholder {
    color: var(--txt_c, #000);
    font-family: "Quicksand", serif;
    font-size: var(--txt_s, 16px);
    font-style: normal;
    font-weight: var(--txt_w, 500);
    line-height: var(--txt_h, 120%); /* 26.4px */
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 30px 36px;
}

.top_nav {
    display: flex;
    gap: 44px;
}

.logo {
    --txt_s: 32px;
    --txt_w: 700;
    letter-spacing: 0.64px;
}

.nav_btn_bar {
    position: relative;
    display: inline-block;
}
.nav_btn {
    --txt_c: #EEE;
    --txt_w: 700;
    padding: 10px 28px 10px 12px;
    border-radius: 4px;
    background: #0F8277;
    position: relative;
}
.nav_btn:after {
    position: absolute;
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 1px;
    bottom: 40%;
    right: 12px;
    border-left: 3px solid #EEE;
    border-bottom: 3px solid #EEE;
    transform: rotate(315deg);
}

.hidden_list {
    display: none;
    background: #FFF;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
    margin-top: 4px;
    position: absolute;
    width: 384px;
    padding: 16px 12px 34px;
}

.nav_btn_bar:hover .hidden_list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hidden_list li {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hidden_list li p {
    --txt_w: 700;
}

.hidden_list li a {
    --txt_w: 500;
}

.hidden_list li:first-child {
    padding-bottom: 40px;
    border-bottom: 1px solid black;
}

.hidden_list li p {
    margin-bottom: 24px;
}

.search-container {
    display: flex;
}

.search-container input {
    padding: 8px 12px;
    width: 300px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #5C5C5C;
    --txt_c: #5C5C5C;
    outline: none;
}

.search-container button {
    border: 1px solid #5C5C5C;
    background-color: #0F8277;
    width: 38px;
    height: auto;
    background-image: url("/images/icon/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0 4px 4px 0;
    border-left: none;
}

.top_enter {
    display: flex;
    align-items: center;
}

.top_enter li:first-child a {
    margin-right: 48px;
}
#log_in {
    --txt_c: #0F8277;
    --txt_w: 700;
    margin-left: 104px;
}

#sign_up {
    padding: 10px 12px;
    margin-left: 16px;
    --txt_w: 700;
    --txt_c: #EEE;
    background: #0F8277;
    border-radius: 4px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.banner {
    
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0 36px;
    padding-top: 170px;
    padding-left: 110px;
    padding-bottom: 184px;
    border-radius: 12px;
    background-color: #DBF3ED;
    background-image: url("/images/hero-img.png");
    background-repeat: no-repeat;
    background-position-x: 93%;
    background-position-y: center;
}

.banner h2 {
    --txt_s: 56px;
    --txt_w: 700;
}

.banner p {
    width: 482px;
    --txt_s: 22px;
    --txt_w: 600;
}

.ban_link {
    display: flex;
    gap: 24px;
}

#ban_lnk_str, .mn_business_title a {
    --txt_c: #EEE;
    --txt_w: 700;
    padding: 10px 12px;
    border-radius: 4px;
    background: #0F8277;
    transition: .5s;
}

#ban_link_lrn {
    --txt_c: #0F8277;
    --txt_w: 700;
    padding: 10px 12px;
    border-radius: 4px;
    border: 2px solid #0F8277;
}

#academic_training, .courses, .main_feature {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 36px;
}

.at_top, .courses_top {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.at_top h3, .courses_top h3 {
    --txt_c: #0F8277;
    --txt_s: 20px;
    --txt_w: 700;
}

.at_top h2, .courses_top h2, .main_feature h2, .mn_choose_plan h2 {
    --txt_s: 40px;
    --txt_w: 700;
}

.at_top p, .courses_top p {
    --txt_s: 20px;
}

.academic_cards, .courses_cards {
    display: flex;
    justify-content: space-between;
}

.academic_cards li, .courses_cards li {
    border-radius: 8px;
    border: 1px solid #DADADA;
}

.academic_cards img, .courses_cards img {
    width: var(--img_w, 416px);
    height: var(--img_h, 270px);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.academic_cards h3, .courses_cards h3 {
    margin-top: 24px;
    height: 20px;
    background-repeat: no-repeat;
    background-position-x: 16px;
}

.dan_it {
    background-image: url("/images/icon/dan-it.svg");
    padding-left: 100px;
}

#european {
    background-image: url("/images/icon/european.svg");
    padding-left: 46px;
}

#projector {
    background-image: url("/images/icon/projector.svg");
    padding-left: 76px;
}

.academic_cards h2, .courses_cards h2 {
    width: var(--cards_h2_w, 384px);
    height: 58px;
    margin-left: 16px;
    margin-top: 16px;
    --txt_s: 24px;
    --txt_w: 700;
}

.academic_cards p, .courses_cards p {
    height: 20px;
    margin: 48px 16px 24px;
    padding-left: var(--cards_pad_l, 32px);
    --txt_c: #0F8277;
}

.academic_cards p {
    background-image: url("/images/icon/square_cap.svg");
    background-repeat: no-repeat;
}

.courses_cards img {
    --img_w: 306px;
    --img_h: 270px;
}

.courses_cards h2 {
    --cards_h2_w: 274px;
}

.courses_cards p {
    --cards_pad_l: 0;
}

.courses_more {
    --txt_c: #0F8277;
    --txt_s: 20px;
    --txt_w: 700;
    width: 160px;
    height: 20px;
    display: flex;
    align-items: center;
    align-self: center;
    background-image: url("/images/icon/arrow.svg");
    background-position: right;
    background-repeat: no-repeat;
}

.future_category {
    display: flex;
    gap: 24px;
}

.future_category ul {
    display: flex;
    flex-direction: column;
    width: 306px;
    gap: 32px;
}

.future_category li {
    --txt_s: 24px;
    --txt_w: 700;
}

.future_category li a {
    --txt_c: #0F8277;
    --txt_s: 20px;
    --txt_w: 700;
}

.future_category li p {
    --txt_s: 16px;
    --txt_w: 500;
}

.mn_cooperate {
    padding: 80px 36px;
    background: #DBF3ED;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
}

.mn_cooperate h2 {
    --txt_s: 40px;
    --txt_w: 700;
    text-align: center;
    width: 870px;
}

.company_img {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 66px;
}

.company_img li {
    padding: 10px 0;
}

.company_img li:nth-child(4), .company_img li:nth-child(6) {
    padding: 0;
}

.mn_business {
    margin: 0 36px;
    display: flex;
    justify-content: space-between;
    gap: 72px;
}

.mn_business_title {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 60px 0;
}

.mn_business_title h2 {
    --txt_s: 40px;
    --txt_w: 700;
    width: 630px;
}

.mn_business_title p {
    --txt_s: 22px;
    --txt_w: 600;
    width: 568px;
}

.mn_business_title a {
    width: max-content;
}

.mn_business_img {
    display: grid;
    grid-template-columns: repeat(3, 196px);
    grid-template-rows: repeat(3, 136px);
    align-items: center;
}

.mn_business_img img:nth-child(1), .mn_business_img img:nth-child(2),
.mn_business_img img:nth-child(4), .mn_business_img img:nth-child(5) {
    border-right: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
}

.mn_business_img img:nth-child(7), .mn_business_img img:nth-child(8) {
    border-right: 1px solid #BABABA;
}

.mn_business_img img:nth-child(3), .mn_business_img img:nth-child(6) {
    border-bottom: 1px solid #BABABA;
}

.mn_choose_plan {
    background: #DBF3ED;
    padding: 80px 36px 100px;
}

.mn_choose_plan h2 {
    text-align: center;
}

.mn_choose_plan ul {
    margin-top: 40px;
    display: flex;
    gap: 24px;
}

.plan_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 416px;
    padding: 56px;
    border-radius: 24px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
    h2 {
        width: 304px;
        --txt_s: 24px;
        --txt_w: 700;
    }
    p {
        margin-top: 27px;
        text-align: center;
    }
    h3 {
        margin-top: 27px;
        display: flex;
        --txt_s: 40px;
        --txt_w: 700;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }
    span {
        --txt_s: 16px;
        --txt_w: 500;
    }
    a {
        margin-top: 76px;
        margin-bottom: 48px;
        padding: 10px 12px;
        border-radius: 4px;
        background: #0F8277;
        --txt_c: #F6FDFF;
        --txt_s: 18px;
    }
    .card_bottom {
        padding-top: 48px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-self: start;
        gap: 16px;
        border-top: 2px solid #0F8277;
        li {
            display: flex;
            flex-direction: row;
            width: 296px;
            margin: 0;
            text-align: start;
        }
        span {
            display: block;
            margin-right: 16px;
            padding: 8px;
            border-radius: 100%;
            background-color: #0F8277;
            background-image: url("/images/icon/selector.svg");
            background-repeat: no-repeat;
            background-position: center;
            align-self: start;
        }
    }
}

#card_monthly {
    background: #0F8277;
    --txt_c: #fff;
    a {
        margin-top: 27px;
        border-radius: 4px;
        border: 2px solid #FFF;
    }
    .card_bottom {
        border-color: #FFFFFF;
    }
    li span {
        background-color: #FFFFFF;
        background-image: url("/images/icon/selector_green.svg");
    }
}

.mn_choose_plan li:nth-child(3) a {
    margin-top: 50px;
}

.mn_photo_st {
    margin: 0 36px;
    h2 {
        --txt_s: 40px;
        --txt_w: 700;
        text-align: center;
    }
}

.mn_photo_st_grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
}

.mn_photo_st_grid img {
    width: 100%;
    height: 100%;
}

.mn_photo_st_grid img:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.mn_contact_us {
    width: 100%;
    height: 730px;
    background-image: url("/images/form_back.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.mn_contact_us:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.6);
    z-index: 2;
}

.contact_us_form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    position: absolute;
    top: 65px;
    left: 30%;
    right: 30%;
    z-index: 3;
    border-radius: 24px;
    background: #DBF3ED;
    gap: 24px;

    h2{
        text-align: center;
        --txt_s: 40px;
        --txt_w: 700;
    }

    p {
        text-align: center;
        --txt_s: 20px;
    }

    label {
        display: flex;
        flex-direction: column;
        gap: 8px;
        --txt_s: 22px;
        --txt_w: 600;
    }

    input, textarea {
        padding: 12px;
        --txt_c: #8E8E8E;
        --txt_s: 16px;
        --txt_w: 500;
        --txt_h: 24px;
        border-radius: 4px;
        border: 1px solid #0F8277;
        background: #FDFDFD;
    }
    textarea {
        resize: none;
        height: 100px;
    }

    button {
        border-radius: 4px;
        background: #0F8277;
        width: 196px;
        padding: 10px 12px;
        --txt_c: #F6FDFF;
        --txt_s: 18px;
        font-family: "Cabin", serif;
        letter-spacing: 0.72px;
    }
}

.footer {
    padding: 64px 36px;
    display: flex;
    justify-content: space-between;
}

.footer_left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 306px;

    a {
        --txt_s: 32px;
        --txt_w: 700;
        letter-spacing: 0.64px;
        width: 148px;
    }
}

.footer_right {
    width: 306px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    p {
        text-align: right;
    }
}

.ftr_social {
    display: flex;
    gap: 24px;
    align-self: end;
}

#instagram, #facebook, #linkedin {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px 32px;

}

#instagram {
    background-image: url("/images/icon/instagram.svg");
}

#facebook {
    background-image: url("/images/icon/facebook.svg");
}

#linkedin {
    background-image: url("/images/icon/linkedin.svg");
}

.footer_right p:before{
    content: '© ';
}
